---
http_interactions:
- request:
    method: get
    uri: https://fc.yahoo.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found on Accelerator
    headers:
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html lang="en-us">
          <head>
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <meta charset="utf-8">
            <title>Yahoo</title>
            <meta name="viewport" content="width=device-width,initial-scale=1,minimal-ui">
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <style>
              html {
                  height: 100%;
              }
              body {
                  background: #fafafc url(https://s.yimg.com/nn/img/sad-panda-201402200631.png) 50% 50%;
                  background-size: cover;
                  height: 100%;
                  text-align: center;
                  font: 300 18px "helvetica neue", helvetica, verdana, tahoma, arial, sans-serif;
                  margin: 0;
              }
              table {
                  height: 100%;
                  width: 100%;
                  table-layout: fixed;
                  border-collapse: collapse;
                  border-spacing: 0;
                  border: none;
              }
              h1 {
                  font-size: 42px;
                  font-weight: 400;
                  color: #400090;
              }
              p {
                  color: #1A1A1A;
              }
              #message-1 {
                  font-weight: bold;
                  margin: 0;
              }
              #message-2 {
                  display: inline-block;
                  *display: inline;
                  zoom: 1;
                  max-width: 17em;
                  _width: 17em;
              }
              </style>
              <script>
              !function(){if(window==window.top){var o=window.location.host;o.endsWith(".yahoo.com")&&window.location.replace("https://www.yahoo.com/"),o.endsWith(".aol.com")&&window.location.replace("https://www.aol.com/"),o.endsWith(".huffpost.com")&&window.location.replace("https://www.huffpost.com/"),o.endsWith(".engadget.com")&&window.location.replace("https://www.engadget.com/")}}();
              </script>
          </head>
          <body>
          <!-- status code : 404 -->
          [...]
- request:
    method: get
    uri: https://query2.finance.yahoo.com/v1/test/getcrumb
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - text/html
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: "Too Many Requests\r\n"
  recorded_at: Sun, 06 Jul 2025 09:54:29 GMT
- request:
    method: get
    uri: https://query2.finance.yahoo.com/v8/finance/chart/AAPL?events=div,splits&includePrePost=false&interval=1d&range=1d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Y-Rid:
      - 7r6go15k6khul
    body:
      encoding: UTF-8
      string: '{"chart":{"result":[{"meta":{"currency":"USD","symbol":"AAPL","exchangeName":"NMS","fullExchangeName":"NasdaqGS","instrumentType":"EQUITY","firstTradeDate":345479400,"regularMarketTime":1751562001,"hasPrePostMarketData":true,"gmtoffset":-14400,"timezone":"EDT","exchangeTimezoneName":"America/New_York","regularMarketPrice":213.55,"fiftyTwoWeekHigh":260.1,"fiftyTwoWeekLow":169.21,"regularMarketDayHigh":214.65,"regularMarketDayLow":211.81,"regularMarketVolume":34697317,"longName":"Apple
        Inc.","shortName":"Apple Inc.","chartPreviousClose":212.44,"priceHint":2,"currentTradingPeriod":{"pre":{"timezone":"EDT","end":1751549400,"start":1751529600,"gmtoffset":-14400},"regular":{"timezone":"EDT","end":1751562000,"start":1751549400,"gmtoffset":-14400},"post":{"timezone":"EDT","end":1751587200,"start":1751562000,"gmtoffset":-14400}},"dataGranularity":"1d","range":"1d","validRanges":["1d","5d","1mo","3mo","6mo","1y","2y","5y","10y","ytd","max"]},"timestamp":[1751549400],"indicators":{"quote":[{"close":[213.5500030517578],"high":[214.64999389648438],"open":[212.14999389648438],"low":[211.80999755859375],"volume":[34955800]}],"adjclose":[{"adjclose":[213.5500030517578]}]}}],"error":null}}'
  recorded_at: Sun, 06 Jul 2025 09:54:29 GMT
recorded_with: VCR 6.3.1
