---
http_interactions:
- request:
    method: get
    uri: https://api.coingecko.com/api/v3/coins/markets?symbols=ETH&vs_currency=USD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Cg-Demo-Api-Key:
      - "<COIN_GECKO_TEST_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Total:
      - '1'
      Per-Page:
      - '100'
      Etag:
      - W/"d7893e8078f78cb67a2c9af284facdce"
      Alternate-Protocol:
      - 443:npn-spdy/2
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"ethereum","symbol":"eth","name":"Ethereum","image":"https://coin-images.coingecko.com/coins/images/279/large/ethereum.png?1696501628","current_price":3588.52,"market_cap":433454265992,"market_cap_rank":2,"fully_diluted_valuation":433454265992,"total_volume":45119351500,"high_24h":3758.05,"low_24h":3568.86,"price_change_24h":-96.876949900603,"price_change_percentage_24h":-2.62867,"market_cap_change_24h":-11287871698.537048,"market_cap_change_percentage_24h":-2.53807,"circulating_supply":120711314.2989037,"total_supply":120711314.2989037,"max_supply":null,"ath":4878.26,"ath_change_percentage":-26.31867,"ath_date":"2021-11-10T14:24:19.604Z","atl":0.432979,"atl_change_percentage":830048.39096,"atl_date":"2015-10-20T00:00:00.000Z","roi":{"times":39.48977996109617,"currency":"btc","percentage":3948.977996109617},"last_updated":"2025-07-23T20:16:34.546Z"}]'
  recorded_at: Wed, 23 Jul 2025 20:17:21 GMT
recorded_with: VCR 6.3.1
